@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.flex-center {
  @apply flex items-center justify-center;
}

.button {
  @apply w-full rounded-md px-4 py-2 text-center;
}

.img {
  @apply h-fit w-fit object-contain;
}

.select {
  @apply block appearance-none rounded-lg;
}

.pseudo-underline::before {
  @apply bg-black hover:border-black absolute bottom-0 block h-[2px] w-0 transition-all duration-300 hover:w-full;
}

.content-raw-children {
  @apply md:[&>div:nth-child(3)]:block lg:[&>div:nth-child(4)]:block [&>div:nth-child(2)]:hidden sm:[&>div:nth-child(2)]:block [&>div:nth-child(3)]:hidden [&>div:nth-child(4)]:hidden;
}

.card {
  @apply border-gray-200 mb-5 block rounded border shadow-md;
}

@media (width < 768px) {
  html {
    font-size: 14px;
  }
}

@media (width > 768px) {
  html {
    font-size: 16px;
  }
}

@media (width > 1600px) {
  html {
    font-size: 18px;
  }
}

@media (width > 1920px) {
  html {
    font-size: 25px;
  }
}
